<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/www/*</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/www</param-value>
    </context-param>

    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/index.html</location>
    </error-page>

    <!--
    <servlet>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>35000000</max-file-size>
            <max-request-size>218018841</max-request-size>
            <file-size-threshold>0</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>-->
</web-app>